
@{
    ViewBag.Title = "فعال سازی حساب کاربری";
}

<h2>خوش آمدید</h2>
<div class="alert alert-success">
    <h2>@ViewBag.UserName عزیز!</h2>
<p>حساب کاربری شما فعال شد شما می توانزی از طریق این <a href="/Login">لینک</a> وارد سایت شوید.</p>

</div>