@model DataLayer.Users
@{
    ViewBag.Title = "ثبت نام";
}

<div class="alert alert-success">
    <h2>@Model.UserName عزیز، با تشکر از ثبت نام شما در سایت تاپ لرن</h2>
    <p>لینک فعال سازی به ایمیل @Model.Email ارسال شد. لطفا برای تکمیل فرایند ثبت نام روی لینک ارسال شده کلیک کنید.</p>
</div>
